<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${appTitle}"></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div th:replace="base/header :: header(${appTitle})"></div>

<main role="main" class="container mt-5">
    <div class="row">
        <div class="col-md">
            <div class="accordion" id="devicesAccordion">
                <div class="card" th:each="d,iter : ${devices}">
                    <div class="card-header" th:id="'heading'+${iter.index}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                    th:data-target="'#collapse'+${iter.index}"
                                    aria-expanded="false"
                                    th:aria-controls="'collapse'+${iter.index}"
                                    th:text="${d.name}">
                                Device name
                            </button>
                        </h2>
                    </div>
                    <div th:id="'collapse'+${iter.index}" class="collapse" th:aria-labelledby="'heading'+${iter.index}"
                         data-parent="#devicesAccordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li th:text="|Address: ${d.address}|"></li>
                                        <li th:text="|Online: ${d.online}|"></li>
                                        <li th:text="'Heartbeat URL: '+(${d.heartbeatUrl} ? ${d.heartbeatUrl} : ${'Not set'})"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-secondary" th:href="@{/devices/}+${d.id}" th:text="'Details'">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- /.container -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
