<html th:fragment="layout (devices)" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card" th:if="${devices == null}">
    <div class="card-header">
        <span th:text="|Registered devices|"></span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col text-center">
                <div class="alert alert-danger" role="alert" th:text="'Cannot fetch devices!'">
                    Devices fetch error
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" th:unless="${devices == null}">
    <div class="card-header">
        <span th:text="|Registered devices (${devices.length})|"></span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <ol>
                    <li th:each="device : ${devices}" th:text="${device}"></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-link m-auto" th:text="'See all devices...'"
                   th:href="@{/devices}">Devices</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>