<html th:fragment="layout (users)" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="card" th:if="${users == null}">
    <div class="card-header">
        <span th:text="|Users|"></span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col text-center">
                <div class="alert alert-danger" role="alert" th:text="'Cannot fetch users!'">
                    Users fetch error
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" th:unless="${users == null}">
    <div class="card-header">
        <span th:text="|Users (${#arrays.length(users)})|"></span>
        <div class="btn-group  float-sm-right" role="group" aria-label="Basic example">
            <a class="btn btn-primary" th:text="'+'" th:href="@{/users/register}"></a>
        </div>
    </div>
    <div class="card-body" th:if="${#arrays.length(users) == 0}">
        <div class="row">
            <div class="col text-center">
                <p th:text="'No users found.'"></p>
            </div>
        </div>
    </div>
    <div class="card-body" th:unless="${#arrays.length(users) == 0}">
        <div class="row">
            <div class="col">
                <ol>
                    <li th:each="user : ${users}" th:text="${user.name}"></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-link m-auto" th:text="'See all users...'"
                   th:href="@{/users}">Users</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>