<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/base :: layout('Dashboard', ~{::main})}">

<body>

<main role="main" class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div th:replace="fragments/devices_badge :: layout(${devices})"></div>
        </div>
        <div class="col-md-6">
            <div th:replace="fragments/users_badge :: layout(${users})"></div>
        </div>
    </div>
    <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}"></div>
</main>
<!-- /.container -->

</body>
</html>
