<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/base :: layout('Dashboard', ~{::main})}">

<body>

<main role="main" class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card" th:if="${devices == null}">
                <div class="card-header">
                    <span th:text="|Registered devices|"></span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <div class="alert alert-danger" role="alert" th:text="'Cannot fetch devices!'">
                                Devices fetch error
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" th:unless="${devices == null}">
                <div class="card-header">
                    <span th:text="|Registered devices (${devices.length})|"></span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <ol>
                                <li th:each="device : ${devices}" th:text="${device}"></li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-link m-auto" th:text="'See all devices...'"
                               th:href="@{/devices}">Devices</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" th:if="${users == null}">
                <div class="card-header">
                    <span th:text="|Users|"></span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <div class="alert alert-danger" role="alert" th:text="'Cannot fetch users!'">
                                Users fetch error
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" th:unless="${users == null}">
                <div class="card-header">
                    <span th:text="|Users (${users.length})|"></span>
                    <div class="btn-group  float-sm-right" role="group" aria-label="Basic example">
                        <a class="btn btn-primary" th:text="'+'" th:href="@{/users/register}"></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <ol>
                                <li th:each="user : ${users}" th:text="${user.name}"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success" role="alert" th:if="${message}" th:text="${message}"></div>
</main>
<!-- /.container -->

</body>
</html>
